.calendar {
    position: relative;
}

    .calendar * {
        box-sizing: border-box;
    }

    .calendar .btn {
        background: #fff;
        color: #73ac3a;
        font-size: 8pt;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
        border-radius: 3px;
        padding: 0 10px;
        cursor: pointer;
        height: 25px;
        line-height: 25px;
        z-index: 1;
    }

    .calendar .icoCalendar {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url("//cdn.24h.com.vn/images/lichvannien/icoCalendar.png") no-repeat;
        background-size: 100%;
        vertical-align: middle;
        margin-left: 3px;
    }

    .calendar .icoPrev, .calendar .icoNext {
        display: inline-block;
        width: 14px;
        height: 24px;
        vertical-align: middle;
        background: url("//cdn.24h.com.vn/images/lichvannien/left-arrow.png") no-repeat;
    }

    .calendar .icoNext {
        background-image: url("//cdn.24h.com.vn/images/lichvannien/left-arrow-copy.png");
    }

    .calendar .btnSlidePrev, .calendar .btnSlideNext {
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        left: 0;
        cursor: pointer;
    }

    .calendar .btnSlideNext {
        left: auto;
        right: 0;
    }

    .calendar .txtSmall {
        font-size: 7pt;
        color: #aaaaaa;
        margin-top: 5px;
    }

    .calendar .row1 {
        background: #88c685;
        height: 35px;
        line-height: 25px;
        color: #fff;
        font-size: 14pt;
        padding: 5px 0;
        position: relative;
    }

    .calendar .row2 {
        background: #bcdfbb;
        height: 30px;
        line-height: 30px;
        display: flex;
        justify-content: space-around;
    }

        .calendar .row2 .item {
            font-size: 11pt;
            color: #333;
            width: 50%;
            text-align: center;
        }

    .calendar .bor {
        border: 1px solid #bcdfbb;
        border-top: 0;
        padding: 0 20px 20px;
    }

    .calendar .row3 {
        display: flex;
        justify-content: space-around;
        position: relative;
        padding: 15px 0;
        border-bottom: 1px solid #d7d7d7;
    }

        .calendar .row3 .inner {
            width: 50%;
        }

            .calendar .row3 .inner:nth-child(3) {
                border-right: 1px solid #d7d7d7;
            }

        .calendar .row3 .month {
            font-size: 11pt;
            color: #7f7f7f;
        }

        .calendar .row3 .day {
            font-size: 52pt;
            color: #73ac3a;
        }

        .calendar .row3 .txt {
            font-size: 9pt;
            color: #bb0017;
        }

    .calendar .row4 .txt {
        font-size: 9pt;
        color: #7f7f7f;
        margin: 8px 0;
        display: block;
    }

    .calendar .row4 .bld {
        color: #616161;
    }

    .calendar .row4 .clGr {
        color: #73ac3a;
    }

    .calendar .row4 .clBlue {
        color: #02a7f0;
    }

    .calendar .row5 {
        height: 42px;
        line-height: 41px;
        background: #f2f2f2;
        font-size: 11pt;
        color: #73ac3a;
        position: relative;
    }

        .calendar .row5 .btnSlidePrev, .calendar .row5 .btnSlideNext {
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
        }

        .calendar .row5 .btnSlideNext {
            left: auto;
            right: 10px;
        }

        .calendar .row5 .icoPrev, .calendar .row5 .icoNext, .calendar .row5 .icoNext {
            display: inline-block;
            background-color: #f9f9f9;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            background-size: 30%;
            background-position: center;
        }

        .calendar .row5 .btn {
            position: unset;
            display: inline-block;
            transform: none;
            border: 1px solid #d7d7d7;
            margin-left: 15px;
            height: 27px;
        }

    .calendar .tbl {
        border-collapse: collapse;
        margin: 15px 0;
    }

        .calendar .tbl thead td {
            color: #fea10d;
            text-align: center;
            font-size: 11pt;
            padding-bottom: 5px;
        }

        .calendar .tbl tbody {
            border-top: 1px solid #aaaaaa;
        }

            .calendar .tbl tbody td {
                border: 1px solid #f2f2f2;
                border-top: 0;
                width: 85px;
            }

                .calendar .tbl tbody td > a {
                    display: block;
                    padding: 5px 10px;
                }

                .calendar .tbl tbody td:nth-child(1) {
                    font-size: 11pt;
                    color: #7f7f7f;
                    font-weight: bold;
                    text-align: center;
                }

                .calendar .tbl tbody td.bgAtv {
                    background: #daf5d9;
                }

            .calendar .tbl tbody .dayCalendar {
                font-size: 30pt;
                font-weight: bold;
                color: #7f7f7f;
                position: relative;
                display: inline-block;
                height: 18px;
            }

                .calendar .tbl tbody .dayCalendar.atv {
                    color: #d9001b;
                }

                .calendar .tbl tbody .dayCalendar.good:before {
                    content: '';
                    width: 5px;
                    height: 5px;
                    background: #78b43d;
                    border-radius: 50%;
                    position: absolute;
                    top: 2px;
                    right: -10px;
                }

                .calendar .tbl tbody .dayCalendar.bad:before {
                    content: '';
                    width: 5px;
                    height: 5px;
                    background: #aaaaaa;
                    border-radius: 50%;
                    position: absolute;
                    top: 2px;
                    right: -10px;
                }

            .calendar .tbl tbody .lunarCalendar {
                font-size: 12pt;
                color: #7f7f7f;
                text-align: right;
                margin: 5px 0;
                height: 12px;
            }

            .calendar .tbl tbody .txt {
                font-size: 8pt;
                color: #d9001b;
                text-align: center;
                height: 36px;
            }

    .calendar .row6 .txt {
        display: inline-block;
        margin: 0 20px 0 0;
        padding-left: 15px;
        position: relative;
    }

        .calendar .row6 .txt.good:before {
            content: '';
            width: 5px;
            height: 5px;
            background: #78b43d;
            border-radius: 50%;
            position: absolute;
            top: 4px;
            left: 0;
        }

        .calendar .row6 .txt.good.bad:before {
            background: #aaaaaa;
        }

    .calendar .row7 {
        margin: 15px 0;
    }

        .calendar .row7 .title {
            font-size: 11pt;
            color: #78b43d;
            margin-bottom: 15px;
        }

        .calendar .row7 .list {
            display: flex;
        }

.coll-left .ms2 {
    margin-left: 25px;
}

.calendar .row7 .item {
    display: inline-block;
    margin-right: 10px;
}

    .calendar .row7 .item:last-child {
        margin-right: 0;
    }

.calendar .popup {
    border: 1px solid #aaaaaa;
    padding: 15px 30px;
    width: 276px;
    position: absolute;
    top: 0;
    right: -285px;
    background: #fff;
    z-index: 1;
    border-radius: 5px;
}

    .calendar .popup .title {
        font-size: 14px;
        color: #7F7F7F;
        margin-bottom: 15px;
    }

    .calendar .popup .tit {
        font-size: 14px;
        color: #555555;
        padding-left: 30px;
        background: url("//cdn.24h.com.vn/images/lichvannien/icoSun.png") left center no-repeat;
        margin-bottom: 10px;
        height: 24px;
        line-height: 24px;
    }

        .calendar .popup .tit.amLich {
            background-image: url("//cdn.24h.com.vn/images/lichvannien/icoMoon.png");
            margin-top: 15px;
            background-size: 10%;
        }

    .calendar .popup .inner {
        border: 1px solid #d7d7d7;
        border-radius: 10px;
    }

    .calendar .popup .item {
        display: flex;
        justify-content: space-around;
    }

        .calendar .popup .item div {
            font-size: 13px;
            color: #7F7F7F;
        }

            .calendar .popup .item div:last-child {
                border: 0;
            }

            .calendar .popup .item div.txt {
                font-size: 10px;
                font-weight: normal;
            }

        .calendar .popup .item > div {
            border-right: 1px solid #d7d7d7;
            padding: 5px 0;
            width: 100%;
            text-align: center;
        }

        .calendar .popup .item.atv {
            background: #fffed8;
        }

            .calendar .popup .item.atv div {
                color: #E99327;
            }

    .calendar .popup .btnPopup {
        display: inline-block;
        font-size: 13px;
        color: #fff;
        background: #aaaaaa;
        padding: 5px 30px;
        margin-top: 15px;
        outline: none;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
    }

        .calendar .popup .btnPopup.submit {
            background: #fead16;
            margin-right: 10px;
        }

    .calendar .popup.popup2 {
        display: none;
        top: 30px;
        right: 0;
        padding: 10px;
        border-radius: 0;
    }

        .calendar .popup.popup2 .tit {
            text-align: left;
            height: 25px;
        }

        .calendar .popup.popup2 .inner {
            border: 0;
            display: flex;
        }

        .calendar .popup.popup2 select {
            font-size: 14px;
            width: 100%;
            margin-right: 10px;
            border: solid 1px #e0e0e0;
            height: 40px;
            background: url("//cdn.24h.com.vn/images/lichvannien/arow.svg") no-repeat;
            background-position: right 8px top 50%;
            padding: 0 25px 0 10px;
            -webkit-appearance: none;
        }

            .calendar .popup.popup2 select:last-child {
                margin-right: 0;
            }

        .calendar .popup.popup2 .btnPopup {
            width: 100%;
            border-radius: 0;
            background: #dc1435;
            line-height: 30px;
        }

.bgAtvChose {
    background: #F2F2F2;
}

.calendar .tbl tbody .lunarCalendar.atv {
    color: #d9001b;
}

.calendar .row2 .item:first-child {
    padding-left: 20px;
}

.calendar .row2 .item:last-child {
    padding-right: 20px;
}

.btnClose {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url('//cdn.24h.com.vn/images/lichvannien/imgpsh_fullsize_anim.png') no-repeat;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
